<div class="navbar-form navbar-right">
    <div class="form-group">
        <input type="text" class="form-control search" placeholder="Search">
    </div>
    <i class="glyphicon glyphicon-search"></i>
</div>
