
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h3>Search Results</h3>
<div class="form-group">
    <input class="form-control col-md-11" name="search" id="search" placeholder="Search">
</div>
<div id="search-result">
    <gcse:searchresults-only></gcse:searchresults-only>
</div>

@section prescripts{
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        (function () {
            var cx = '001185117965843016402:qqxryk65tm4';
            var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
        })();
    </script>  
}




