body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** My Css Style*/

/** Footer */
.footer {
    color: #FFF;
    background-color: #24234D;
    position: static;

    padding: 15px;
    font-size: small;
}

.main-footer .copyright {
    margin-right: 20px;
    color: aliceblue;
}


.main-footer .policies a {
    text-decoration: underline;
}


.main-footer {
    display: flex;
}


/** Nav Bar */

/** Nav Bar - Logo */
.navbar-header .logo {
    margin-top: 10px;
}

    /** Nav Bar - Search */
    .navbar-top .navbar-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .navbar-top .navbar-form {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .navbar-top .search {
        background-color: transparent;
        border-color: transparent;
        width: 70px;
    }

    .navbar-top .glyphicon {
        color: #555555;
        font-size: large;
    }

    .navbar-top .glyphicon.active {
        color: #FFF;
    }

    .navbar-top .glyphicon:hover {
        color: #FFF;
    }

    .navbar-top .search:hover {
        color: #FFF;
    }

    .navbar-top .search.active {
        border-color: #555555;
        color: #FFF;
        width: 100%;
    }

.navbar-top {
    min-height: 15px;
}

/** NavBar strong-link */

.navbar-nav .strong-link {
    animation-name: strong-link;
    animation-direction: alternate-reverse;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes strong-link {
    from {
    }

    to {
        color: #FFF;
    }
}



/** Login Page */

.login-submit {
    width: 100%;
}

#CustomerSupportPortalLoginForm .login-submit {
    background-color: #1bbcd6;
}

#PartnerSpherePortalLoginForm .login-submit {
    background-color: #77bc1f;
}

/** external login logos */
.external-logo {
    height: 25px;
}

.external-login-submit-button {
    border: none;
    background-color: transparent;
}